<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AliExpress 店铺监控系统</title>

    {//Jquery V-1.10.2}
    {js href="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"}
    {//Bootstrap V-3.3.7}
    {css href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"}
    {js href="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    {//bootstrap-table V-1.11.1}
    {js href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"}
    {js href="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"}
    {css href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css"}
    {js href="https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.min.js"}

    {js href="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"}


    {css href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"}
    {js href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"}
    {js href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.zh-CN.min.js"}
</head>
<body>
    {include file="header" /}
    {__REPLACE__}
    {include file="footer" /}
</body>
</html>